<div class='nested-fields'>
  <div class='row'>
    <div class='three columns'>
      <div class='field'>
        <%= f.input :name, label: false %>
      </div>
    </div>  
    <div class='three columns'>
      <div class='field'>
        <%= f.input :value, label: false %>
      </div>
    </div>
    <div class='three columns'>
      <div class='field'>
        <%= link_to_remove_association "Remove", f %>
      </div>
    </div>  
  </div>
</div>

<script>
  var keySelectors = $('.nested-fields').find('.product_properties_name input');
  var knownKeys    = <%= raw @known_keys %>;
  
  var checkForDuplicates = function() {
    duplicateObject = {};
    
    for(i = 0; i < keySelectors.length; i++) {
      
      value                  = keySelectors[i].value;
      duplicateObject[value] = duplicateObject[value] + 1 || 1;

      if (duplicateObject[value] > 1) {
        $('.duplicate-warning-area').append("<p>You have a duplicate key! Cannot save!</p>");
        $("input[type=submit]").removeClass('button-primary').addClass('button');
        $("input[type=submit]").attr('disabled','disabled');
      } else {
        $('.duplicate-warning-area').empty();
        $("input[type=submit]").removeClass('button').addClass('button-primary');
        $("input[type=submit]").removeAttr('disabled');
      }
    }
  };

  keySelectors.autocomplete({
    source: knownKeys,
    close: function() {
      checkForDuplicates();
    }
  });

  keySelectors.on('input propertychange paste', function() {
    checkForDuplicates();
  })
</script>